consul = "consul.tokopedia.local:8500"

template {
  source          = "/var/www/tokopedia-lite-test-skipper-actions/.env.template"
  destination     = "/var/www/tokopedia-lite-test-skipper-actions/.env"
  command         = "service toko-tokopedia-tokopedia-lite-test-skipper-actions reload"
  command_timeout = "90s"
}